<div class="App">
  <div class="header">
    <div class="header__highest">
      <span class="logo">FlyRexy</span>
    </div>

    <div class="header__content"></div>
  </div>

  <div class="promo__section">
    <div class="promo__content">

    </div>
  </div>

  <div class="some__info"></div>

  <div class="services">
    <div class="services__header">
      <button class="service__type" onclick="">Мужской зал</button>
      <button class="service__type">Женский зал</button>
      <button class="service__type">Детский зал</button>
      <button class="service__type">Окрашивание</button>
    </div>
    <div class="services__content">
      <div class="services__line">
        <div class="services__man">Vety hard opposite 3 1 ajdk akwjdjk awkjd</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Окрашивание блондинистых волос 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
      <div class="services__line">
        <div class="services__man">Service 1</div>
        <div class="price">500</div>
      </div>
    </div>
  </div>

  <div class="yandex__map"></div>


  <div class="footer"></div>
</div>
