<div class="App">
<!--  <div class="header">-->
<!--    <div class="header__highest">-->
<!--      <span class="logo">FlyRexy</span>-->
<!--    </div>-->

<!--    <div class="header__content"></div>-->
<!--  </div>-->

<!--  <div class="promo__section">-->
<!--    <div class="promo__content">-->

<!--    </div>-->
<!--  </div>-->

  <div class="some__info">KEKW</div>
  <div class="services_section">
    <div class="circle"></div>
    <div class="services">
      <div class="services__header">
        <button class="service__type" onclick="">Мужской зал</button>
        <button class="service__type">Женский зал</button>
        <button class="service__type">Детский зал</button>
        <button class="service__type">Окрашивание</button>
      </div>
      <div class="services__content">
        <% @makeups.each do |man_service|  %>
          <div class="services__line">
            <div class="services__man"><%= man_service.title %></div>
            <div class="price"><%= man_service.price %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="circle-bot"></div>
  </div>
<h1>Карта</h1>
  <div id="yandex_map" class="yandex_map">
</div>


  <div class="footer"></div>
</div>
