@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,200&display=swap');

$primary-color: #093725;
$secondary-color: #17d360;
$starbucks-color: #016341;
$test-btn-color: #016341;
$brown-theme-color: #2f1b11;


body {
  background: #fff;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  max-width: 100%;
}

* {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.circle {
  position: absolute;
  left: -50vmin;
  top: calc(-40vmin);
  border-radius: 30% 40% 50% 60%;
  width: 100vmin;
  height: 100vmin;
  background: $starbucks-color;
  &:after {
    content: "";
    background: $primary-color;
    position: inherit;
    border-radius: inherit;
    right: -180vmin;
    bottom: -180vmin;
    width: inherit;
    height: inherit;
  }
}

.services_section {
  display: block;
  padding: 1vh 0;
  width: 100%;
  background: #fff;
  z-index: -3;
}

.services {
  display: flex;
  margin: 10%;
  border: 1px $starbucks-color solid;
  border-radius: 30px;
  position: relative;
  font-family: inherit;
  max-width: 100%;
  padding: 8% 0 8% 8%;
  //justify-content: center;
  box-shadow: 0 20px 50px -20px black;
  &:after {
    content: "";
    position: absolute;
    border-radius: 30px;
    inset: 0;
    opacity: .5;
    background: white
  }
  * {
    z-index: 4;
  }
}
.services__header {
  display: flex;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
  color: $starbucks-color;
  gap: 100px;
  padding-right: 10%;
  border-right: 2px solid $primary-color;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 1px);
    margin-top: 1px;
    right: -20px;
    justify-content: center;
    align-items: center;
    background: $starbucks-color;
  }
}
.services__content {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: $starbucks-color;
  flex-direction: column;
  gap: calc(50% + 50px);
  width: 100%;
  //justify-items: center;
}
.services__line {
  display: flex;
  gap: 10vw;
  min-width: 500px;
  //justify-content: center;
  align-items: center;
}
.services__man {
  padding-left: 24%;
  width: 40%;
  transition: .3s ease-in-out;
  font-weight: 900;
  &:hover {
    color: black;
    cursor: pointer;
  }
}
.price {
  color: $starbucks-color;
  //padding-right: 10%;
  text-align: center;
  font-weight: 900;

}
.service__type {
  border: 2px solid transparent;
  cursor: pointer;
  color: $test-btn-color;
  font-weight: 900;
  padding: 10px;
  background: none;

  &:hover {
    border: 2px $test-btn-color solid;
    outline: none;
    border-radius: 1px;
    background: none;
    animation: circle__custom ease-in-out 1.5s;
  }
  &:focus {
    border: 2px $test-btn-color solid;
    border-radius: 1px;
  }

}

@keyframes circle__custom {
  from {
    border: 2px solid transparent;
    border-radius: 1px;
    background: none;
  }
  25% {
    border-top: 2px $test-btn-color solid;
    border-radius: 1px;
    background: none;
  }
  50% {
    border-top: 2px $test-btn-color solid;
    border-right: 2px $test-btn-color solid;
    border-radius: 1px;
    background: none;
  }
  75% {
    border-top: 2px $test-btn-color solid;
    border-right: 2px $test-btn-color solid;
    border-bottom: 2px $test-btn-color solid;
    border-radius: 1px;
    background: none;
  }
  100% {
    border: 2px $test-btn-color solid;
    border-radius: 1px;
    background: none;
  }
}

